{% extends 'layouts/base.njk' %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}
    <article>
        {% include "partials/page-header.njk" %}

        {% if skills %}
        <section>
            <div class="container">
            {% if skills.design %}
            <h2>{{ skills.design.title }}</h2>
            <ol>
                {% for item in skills.design.items %}
                <li>
                    <span>{{ item.title }}</span>
                    {% include "partials/rating-stars.njk" %}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
            {% if skills.web %}
            <h2>{{ skills.web.title }}</h2>
            <ol>
                {% for item in skills.web.items %}
                <li>
                    <span>{{ item.title }}</span>
                    {% include "partials/rating-stars.njk" %}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
            </div>
        </section>
        {% endif %}

        {% if experience %}
        <section class="">
            <div class="container">
                <h2>Werkervaring</h2>
                {% set entries = experience %}
                {% set microformat = "p-experience" %}
                {% include "partials/entry-list.njk" %}
            </div>
        </section>
        {% endif %}

        {% if education %}
        <section class="">
            <div class="container">
                <h2>Opleidingen</h2>
                {% set entries = education %}
                {% set microformat = "p-education" %}
                {% include "partials/entry-list.njk" %}
            </div>
        </section>
        {% endif %}
    </article>
    {% include "partials/cta.njk" %}
{% endblock content %}