{% extends 'layouts/base.njk' %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
    <section class="">
        <h2>Werkervaring</h2>
        {% set entries = experience %}
        {% set microformat = "p-experience" %}
        {% include "partials/entry-list.njk" %}
    </section>
    <section class="">
        <h2>Opleidingen</h2>
        {% set entries = education %}
        {% set microformat = "p-education" %}
        {% include "partials/entry-list.njk" %}
    </section>
{% endblock content %}