// config and tools
@import 'fonts';
@import 'config';
@import 'tools';

// reset
@import 'reset';

// Global styles start

body {
  background: get-color('white');
  color: get-color('black');
  line-height: 1.5;
  font-size: get-size('400');
  font-family: $font-base;
}

.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $font-display;
}

// Import blocks
@import 'blocks/site-head';
@import 'blocks/nav';
@import 'blocks/button';
@import 'blocks/cta';

// Import utilities
@import 'utils/container';
@import 'utils/visually-hidden'