<section class="cta bg-secondary color-primary">
    <div class="container">
        <div class="cta__inner">
            <h2>Neem contact op</h2>
            <a href="" class="button">Naar contact</a>
        </div>
    </div>
</section>