<section class="hero bg-secondary">
    <div class="container">
        <div class="hero__content">
            <h1 class="text-900 text-800@m">{{ title }} <em class="text-major">{{ site.name }}</em></h1>
        </div>
        {% if banner %}
        <figure class="hero__media">
            <img src="{{ banner }}" alt="{{ title }}" />
        </figure>
        {% endif %}
    </div>
</section>