<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="text-700 text-900@m">{{ title }} <em class="text-700 text-major@m">{{ site.name }}</em></h1>
        </div>
        {% if banner %}
        <figure class="hero__media">
            <img src="{{ banner }}" alt="{{ title }}" />
        </figure>
        {% endif %}
    </div>
</section>