<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1>{{ title }}</h1>
        </div>
        {% if banner %}
        <figure class="hero__media">
            <img src="{{ banner }}" alt="{{ title }}" />
        </figure>
        {% endif %}
    </div>
</section>