<header class="site-head">
    <div class="container">
        <div class="site-head__inner">
            <p class="site-head__brand">
                <a href="/">{{ site.name }}</a>
            </p>
            {% include "partials/nav.njk" %}
    </div>
    </div>
</header>